.table-head-row {
  background-color: #f3f3f5;
  height: 50px;
  position: relative;
}
.table-container {
  background-color: #f3f3f5;
  /* border-collapse: separate; */
  border-spacing: 0 1px;
  width: 100%;
}
.table-content-row {
  background-color: #ffffff;
  height: 80px;
}

.table-content-data {
  text-align: left;
  font-family: "Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #181818;
}
.table-content-data1 {
  text-align: left;
  padding-left: 16px;
  font-family: "Regular";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #0074bc;
}
.table-head-data {
  text-align: left;
  font-family: "Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #808080;
}
.table-head-data1 {
  text-align: left;
  padding-left: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #808080;
}
.table-image-data {
  display: flex;
  height: inherit;
  align-items: center;
}
.table-edit-icon {
  margin-right: 35px;
}

.cpuUpdate_main {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}
.cpuUpdate_maindiv2 {
  position: relative;
  width: 480px;
  height: 440px;

  /* Light/Greyscale/Bg-Light */

  background: #ffffff;
  /* Light/Drop Shadows Z200 */

  box-shadow: 0px 0px 20px rgba(132, 132, 132, 0.2);
  border-radius: 16px;
}
.cpuUpdate_input {
  border: 1px solid #c1c1c1;
  border-radius: 8px;
  padding: 10px 40px 10px 40px;
  margin: 10px 40px;
}
.cpuUpdate_input2 {
  border-radius: 8px;
  padding: 20px 40px 10px 40px;
  margin: 10px 40px;
}
