* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.manage-order-container {
  border: 1px solid red;
  width: 100%;
  height: 91.5vh;
  /* margin-left: 70px;
    margin-top: 80px; */
  background: #fafafa;
  display: flex;
  flex-direction: column;
}
.manage-order-main-content {
  display: flex;
  flex-direction: column;
  padding: 0 2.64% 0 0;
  /* border: 1px solid red; */
}
.manage-order-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid red; */
  height: 90px;
  /* min-height: 200px; */
  /* justify-content: center; */
}
.manage-order-heading {
  font-family: "Regular";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  /* border: 1px solid blue; */
  padding-left: 2.64%;
  text-align: center;
  margin-top: 20px;
}
.manage-order-export-sync-container {
  display: flex;
  /* border: 1px solid red; */
  justify-content: flex-end;
  align-items: center;
  width: 230px;
  /* overflow: scroll; */
}
.manage-order-search-dropdown-container {
  border: 1px solid purple;
  /* width: 43vw; */
  /* height: 50px; */
  display: flex;
  margin: 0 0 0 2.64%;
  justify-content: space-between;
  /* overflow-x: scroll; */
  /* position: absolute; */
  /* max-width: 45%; */
  /* z-index: 9999; */
}
.manage-order-search-dropdown-container::-webkit-scrollbar {
  display: none;
}
.manage-order-table-main-container {
  /* padding: 0 0 0 2.64%; */
  display: flex;
  border: 1px solid green;
  width: 100%;
}
.manage-order-custo-table-content {
  border: 1px solid red;
  padding-left: 2.64%;
  margin-top: 30px;
  /* position: absolute;
  top: 20px; */
  /* z-index: 0; */
}
