.locationCreateHubContent {
  min-height: 269px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  padding: 0px 0px 50px 0px;
  position: relative;
}
.locationCountyHubContentHead {
  margin-left: 20px;
  font-family: "Bold";
  font-size: 14px;
  line-height: 18px;

  /* margin-top: 20px; */
}
