.employee-management-table-container {
  width: 100%;
  border-color: #E2E1E6;
  border-top: 1px solid #E2E1E6;
  border-collapse: separate;
  border-spacing: 0 2px;
  /* padding: 0 0 0 2.64%; */
  margin-top: 20px;
}
.employee-management-table-head-main{
    width: 100%;
    border-style: solid;
}
.employee-management-table-head-row {
  background-color: #f3f3f5;
  /* border: 6px solid blue; */
  color: #808080;
  font-family: "Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  height: 50px;
  width: 100%;
  /* padding-left: 2px;  */
}
.employee-management-table-head-data1 {
  text-align: left;
  padding-left: 16px;
  width: 200px;
  /* border: 1px solid red;  */
}
.employee-management-table-head-data {
  text-align: left;
}
.employee-management-table-content-row {
  background-color: #ffffff;
  height: 80px;
}
/* .employee-management-table-content-row:hover {
  background-color: rgba(255, 255, 255, 0.5);
  height: 80px;
} */
.employee-management-table-content-data1 {
  text-align: left;
  padding-left: 16px;
  font-family: "Bold";
  font-style: normal;
  /* font-weight: 700; */
  font-size: 14px;
  line-height: 18px;
  /* border: 1px solid red;  */
  color: #0074bc;
}
.employee-management-table-content-data1:hover{
  color: rgb(3, 63, 148)
}
.employee-management-table-content-data {
  text-align: left;
  font-family: "Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.employee-management-down-arrow {
  width: 8px;
  height: 12px;
  margin-left: 10px;
}

.employee-management-table-content-edit-icon{
  height: 20px;
  width: 20px;
  margin-left: 10px;
}

.employee-management-table-content-add-role {
  /* text-align: left; */
  font-family: "Bold";
  font-style: normal;
  /* font-weight: 400; */
  font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
  color: #0074BC;
  padding-left: 10px;
  /* border: 1px solid red; */
}
