.table-head-row {
    background-color: #f3f3f5;
    height: 50px;
    position: relative;
  }
  .table-container {
    /* border: 1px solid red; */
    border-spacing: 0px;
    border-collapse: separate;
    border-spacing: 0 1px;
    border-top: 1px solid #E2E1E6;
    border-bottom: 1px solid #E2E1E6;
    margin-top: 20px;
  }
  .table-content-row {
    background-color: #ffffff;
    height: 80px;
  }
  .table-content-data {
    text-align: left;
    font-family: "Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #181818;
  }
  .table-content-data1 {
    text-align: left;
    padding-left: 16px;
    font-family: "Regular";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #0074bc;
  }
  .table-head-data {
    text-align: left;
    font-family: "Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #808080;
  }
  .table-head-data1 {
    text-align: left;
    padding-left: 16px;
    font-family: "Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #808080;
  }
  
  
  